# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Caches
*.cache

# Logs and databases
*.log
db.sqlite3

# Static files
/static/
.DS_Store

# Media files
/media/

# Environment variables
.env.local

# Virtual environment
virt/
